#answers {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 20%;
    margin: auto;
}

#highscores {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 20%;
    margin: auto;
}

button {
    padding: 10px;
    margin: auto;
    background-color: #9c60ab;
}